<div id="div">
  <label>
    <h2>&nbsp;Product Details</h2>
    <p id="p">Product Name:{{productDetails.name}}</p>
    <form  id="form" [formGroup]="quantityForm">
    <label id="p">Quantity:</label>
    <input type="number" formControlName="quantity">
    </form>
    <p id="p">Price:{{productDetails.unitPrice}} </p>
   
  </label>
  <label id="label">Deliver to this address:&nbsp;</label>
  <select>
    <option value="">Select Your Address</option>
    <option *ngFor="let address of addressDetails" [value]="address.addressId">{{address.residentialAddress}},
      {{address.cityName}},{{address.stateName}},{{address.countryName}}</option>
  </select>
  <button id="button">Place Order</button>
  <button id="button" (click)="showAddress()">Add New Address</button>
</div>