<div id="div">
  <label>
    <h2>&nbsp;Product Details</h2>
    <p id="p">Product Name:{{productDetails.name}}</p>
    <form  id="form" [formGroup]="quantityForm">
    <label id="p">Quantity:</label>
    <input type="number" formControlName="quantity" min="1" pattern="[1-9][0-9]*">
    </form>
    <p id="p">Unit Price:{{productDetails.unitPrice}} </p>
   
  </label>
   </div>
   <br>
  <div id="div">
  <label id="label">Deliver to this address:&nbsp;</label>
  <select [(ngModel)]="selectShippingAdressId" (change)="getShippingAdrress()">
    <option *ngFor="let address of addressDetails" [value]="address.addressId">{{address.residentialAddress}},
      {{address.cityName}},{{address.stateName}},{{address.countryName}}</option>
  </select>
</div>
  <div id="div">
  <button id="button" (click)="placeOrder()">Place Order</button>
  <button id="button" (click)="showAddress()">Add New Address</button>
  </div>

