<h1>Welcome to our E-commerce store</h1>
<br>
<form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
    <h2>Login</h2>
    <label>Username</label>
    <br>
    <input type="text" formControlName="userName">
    <br>
    <br>
    <br>
    <label>Password</label>
    <br>
    <input type="password" formControlName="password">
    <br>
    <br>
    <br>    
    <button type="submit" (click)="showErrors= true">Login</button>
</form>


<div *ngIf="showErrors && loginForm?.get('userName')?.errors?.['required']">
    First name is required
</div>

<div *ngIf="showErrors && loginForm?.get('password')?.errors?.['required']">
    Password is required
</div>

<div *ngIf="showErrors && loginForm?.get('password')?.errors?.['minlength']">
    Password should be longer than 5 characters
</div>

<style>
    h1{
        margin-left: 520px;
        color: rgb(7, 55, 211);
    }
    h2{
        margin-left: 130px;
    }
    form{
        border: 1px solid black;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 70px;    
        padding-top: 60px;
        margin: auto;   
        width: 22%;
    }
    label{
        font-size: large;
    }
    input{
        width: 100%;
        padding: 6px;
    }
    button{
        background-color: aquamarine;
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        font-size: medium;
    }
</style>