h1 
	margin-left: 520px 
	color: rgb(7, 55, 211) 
h2 
	margin-left: 130px 

form 
	border: 1px solid black 
	border-radius: 5px 
	background-color: #f2f2f2 
	padding: 70px 
	padding-top: 60px 
	margin: auto 
	width: 22% 

label 
	font-size: large 

input 
	width: 100% 
	padding: 6px 
    
button 
	background-color: aquamarine 
	width: 100% 
	padding: 5px 
	border-radius: 3px 
	font-size: medium 
