<div>
    <div id ="div">
        <h4>&nbsp;&nbsp; {{productDetails.name}}</h4>
        <p id ="p">Brand :{{productDetails.brandName}}</p>
        <p id ="p">Weight : {{productDetails.weight}} kg</p>
        <p id ="p">In Stock : {{productDetails.stock}}</p>
        <p id ="p">Category : {{productDetails.categoryName}}</p>
        <p id ="p">Price : Rs {{ productDetails.unitPrice}} </p>

        <button id="button" (click)="toAddToCart()">Add To Cart</button>
        <button id="button" (click)="toAddToWishlist()">Add to Wishlist</button>
        <button id="button">Buy Now</button>
    </div>
</div>