<form align="center" [formGroup]="productFormGroup">
    <div id="div" class="product-list">
        <div class="product-item" >
            <!-- Display product details -->
            <table id="table">
                <tr id="tr">
                    <th id="th">Id</th>
                    <th id="th">ProductName</th>
                </tr>
                <tr *ngFor="let product of slicedproductList">
                    <td>{{product.Id}}</td>
                    <td>{{product.Name}}</td>
                </tr>
            </table>

        </div>
        <div>
            <input type="text" [formControl]="searchText" placeholder="Search" />
            <button id="button" (click)="search()">search</button>
        </div>
    </div>
</form>
<form>
    <div id="div" class="pagination">
        <button id="button" (click)="loadProducts(currentPage > 1 ? currentPage - 1 : 1)"
            [disabled]="currentPage === 1">Previous</button>
        <button id="button" (click)="loadProducts(currentPage + 1)"
            [disabled]="currentPage === totalPages">Next</button>
    </div>
</form>