<form align="center" [formGroup]="productFormGroup">
    <div id="div" class="product-list">
        <div>
            <input type="text" formControlName="searchTerm" placeholder="Search" size="134px"/>
            <button id="button" (click)="search()">search</button>
        </div> 
        <div class="product-item" >
            <!-- Display product details -->
            <table id="table">
                <tr id="tr">
                    <th id="th">Id</th>
                    <th id="th">ProductName</th>
                </tr>
                <tr *ngFor="let product of products">
                    <td id="td">{{product.id}}</td>
                    <td id="td">{{product.name}}</td>
                </tr>
            </table>

        </div>
        
    </div>
</form>
<form>
    <div id="div" class="pagination">
       
        <!-- <button id="button" (click)="loadProducts()">view</button> -->
        <button id="button" (click)="PreviousPage()"> Previous </button> 
        <button id="button" (click)="NextPage()">Next </button>
    </div>
</form> 