<h2>&nbsp;Product Details</h2>
<p id="p">{{isCartEmpty}}</p>
<div><!-- place *ngFor here to display product details from cart table-->
  <div id="div" *ngFor="let item of cartDetails">
    <label>
      <p id="p"> Product Name:{{item.productName}}</p>
      <p id="p">Quantity:{{item.quantity}}</p>
      <p id="p">Price:Rs.{{item.unitPrice * item.quantity}}</p>
    </label> 
    <button id="button" (click)="deleteCart(item.cartId)">Delete</button>  
  </div>
  <div  id="div" *ngIf="!isCartEmpty">
    <br>
    <label id="label">Deliver to this address:&nbsp;&nbsp;</label>
    <select [(ngModel)]="selectShippingAdressId" (change)="getShippingAdrress()" id="select">
      <option *ngFor="let address of addressDetails" [value]="address.addressId">{{address.residentialAddress}},
        {{address.cityName}},
        {{address.stateName}},{{address.countryName}}</option>
    </select>
    <button id="button" (click)="placeOrder()">Place Order</button>
    <button id="button" (click)="showAddress()">Add New Address</button>
  </div>
</div>
