<h2>&nbsp;ProductDetails</h2>
<div><!-- place *ngFor here to display product details from cart table-->
  <div id="div" *ngFor="let item of cartDetails">
    <label>
      <p id="p"> product Name:{{item.productName}}</p>
      <p id="p">Quantity:{{item.quantity}}</p>
      <p id="p">Price:Rs.{{item.unitPrice * item.quantity}}</p>
    </label>   
  </div>
</div>
<div  id="div">
    <br>
    <label id="label">Deliver to this address:&nbsp;&nbsp;</label>
    <select>
      <option value="">Select Your Address</option>
    </select>
    <button id="button">Place Order</button>
    <button id="button" (click)="showAddress()">Add New Address</button>
  </div>